*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
  color: #FFFFFF;
  background-color: #323232;
  
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}